
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Cài đặt của bạn</h2>
        <p class="category text-transform">
            Cá nhân hóa trang web cũng như các lựa chọn làm bài tập của bạn tại đây.
        </p>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Module developing...</h4>
                </div>
            </div>
        </div>
    </div>
</div>

