@model List<Manager.Models.TableModel.user>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="@item.id">
            <td style=" width: 100px;" class="text-center">
            @if(item.id_facebook == "1")
            {
                <img style="width: 80px; height: 80px;" class="avatar border-gray" src="https://thxd.nuce.edu.vn/wp-content/uploads/2020/06/JaZBMzV14fzRI4vBWG8jymplSUGSGgimkqtJakOV.jpeg" alt="...">
            }
            else
            {
                <img style="width: 80px; height: 80px;" class="avatar border-gray" src="//graph.facebook.com/@item.id_facebook/picture?type=large&width=100&height=100" alt="...">
            }
            </td>
            <td style="font-size: 20px;" class="text-left">@item.full_name</td>
            @*<td class="text-left">@item.email</td>*@
            <td class="text-center">
                <button style="width: 100% !important;" type="button" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral btn-details-friend">
                    @*<i class="now-ui-icons ui-2_settings-90"></i>*@ Chi tiết
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>