
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Danh sách bạn bè</h2>
        <p class="category text-transform">
            Tất cả người dùng hệ thống đều trở thành bạn bè của nhau.<br /> 
            Bạn có thể xem thông tin chi tiết của họ tại đây.
        </p>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-upgrade">
                <div class="card-header text-center">
                    <h4 class="card-title">
                        
                    </h4>
                    <p class="card-category text-transform"></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table-upgrade" id="table-list-friends">
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <a href="#" id="update-friend-list"><i class="now-ui-icons loader_refresh spin"></i> Cập nhật lại!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="details-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>*@
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-user">
                            <div class="image">
                                <img id="img-cover" style="opacity: 70%;" src="" alt="...">
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <a href="#">
                                        <img id="img-avatar" class="avatar border-gray" src="" alt="...">
                                        <h5 class="title" id="full-name"></h5>
                                    </a>
                                    <p id="email" class="description">
                                        
                                    </p>
                                </div>
                                <p id="details" class="description text-center"></p>
                            </div>
                            <hr>
                            <div class="button-container">
                                <a href=""  target="_blank" class="btn btn-neutral btn-icon btn-round btn-lg" id="facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href=""  target="_blank" class="btn btn-neutral btn-icon btn-round btn-lg" id="twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href=""  target="_blank" class="btn btn-neutral btn-icon btn-round btn-lg" id="instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-delete-user"></button>
            </div>*@
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            var id_selected = null;
            function getListFriend() {
                $.ajax({
                    url: '/Friend/ListFriend',
                    type: "GET",
                    data: null,
                    success: function (data) {
                        $("#table-list-friends").html(data);
                        $('.btn-details-friend').click(function () {
                            id_selected = $(this).closest('tr').attr('id');
                            getDetailsUser();
                            $('#details-user-modal').modal('show');
                        });
                    },
                    error: function () {
                        alert('error');
                    }
                });
            };
            getListFriend();
            $('#update-friend-list').click(function () {
                getListFriend();
            });

            function getDetailsUser() {
                $.ajax({
                    url: '/Friend/DetailsUser',
                    type: "GET",
                    data: { id: id_selected},
                    success: function (response) {
                        if (response.errorCode == 200) {
                            if (response.data.id_facebook == "1") {
                                $('#img-cover').attr("src", "https://thxd.nuce.edu.vn/wp-content/uploads/2020/06/JaZBMzV14fzRI4vBWG8jymplSUGSGgimkqtJakOV.jpeg");
                                $('#img-avatar').attr("src", "https://thxd.nuce.edu.vn/wp-content/uploads/2020/06/JaZBMzV14fzRI4vBWG8jymplSUGSGgimkqtJakOV.jpeg");

                                $('#details').html('Đây là tài khoản giả - người dùng này chưa tạo tài khoản trên hệ thống');
                                $('#email').html('');
                                $('#facebook').attr("href", '');
                                $('#twitter').attr("href", '');
                                $('#instagram').attr("href", '');
                            }
                            else {
                                $('#email').html(response.data.email);
                                $('#facebook').attr("href", response.data.facebook);
                                $('#twitter').attr("href", response.data.twitter);
                                $('#instagram').attr("href", response.data.instagram);
                                $('#details').html(response.data.details);
                                $('#img-cover').attr("src", "//graph.facebook.com/" + response.data.id_facebook + "/picture?type=large&width=900&height=900");
                                $('#img-avatar').attr("src", "//graph.facebook.com/" + response.data.id_facebook + "/picture?type=large&width=900&height=900");
                            }
                            $('#full-name').html(response.data.full_name);
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
            }
        });
    </script>
}

