
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Nội quy nhóm</h2>
        <p class="category text-transform">
            Tất cả các thành viên tham gia các hoạt động đều phải thực hiện theo các nội quy và hình phạt dưới đây.
        </p>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Module developing...</h4>
                </div>
            </div>
        </div>
    </div>
</div>

